
@{
    ViewBag.Title = "Rename";
    Layout = "~/Views/Shared/Manage_Bookkmark.cshtml";
}
<div style="height:40px"></div>
<h2>Add New</h2>

<script type="text/javascript">
    window.onload = function () {

        var RefreshValue = @Html.Raw(Json.Encode(ViewData["Refresh"]));
        if(RefreshValue != null)
        {
            window.opener.location.reload();
            window.close();
        }
    };
</script>


@using (Html.BeginForm("NewBMFolder", "Bookkmark"))
{

    <table style="height:40%;width:100%;border:solid;border-radius:10px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED" cellpadding="5" cellspacing="5">
        <tr>
            <td style="font-weight: bold; color: red;padding-left:30%">
                @ViewBag.Ack<br />
            </td>
        </tr>
        <tr>
            <td align="left" style="padding-left:10px">
                @Html.TextBox("txtLink", "", new { style = "width:95%;", placeholder = "Link", @class = "myText" })

            </td>
        </tr>
        <tr>
            <td align="left" style="padding-left:10px">
                @Html.TextBox("txtName", "", new { style = "width:95%;", placeholder = "Name", @class = "myText" })

            </td>
        </tr>
        <tr>
            <td align="left" style="padding-left:10px">
                @*@Html.Password("txtFolder", "", new { style = "width:75%;", placeholder = "Folder", @class = "myText" })*@
                @Html.DropDownList("ddFolder", new SelectList((System.Collections.IEnumerable)ViewData["ddFolders"], "BookkmarkID", "Name"), "---Select Folder---", new { style = "height:30px;border:1px solid lightgrey;border-radius:5px;font-size:16px;width:50%;" })
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="submit" value="Submit" id="btnAdd" name="btnAdd" style="height:40px;border-radius:5px" class="mysubmit" />&nbsp;&nbsp;&nbsp;&nbsp;
                @*<input type="submit" value="Cancel" name="Cancel" class="mysubmitsmall" />*@
            </td>
        </tr>
    </table>
}