@model List<Bookkmark.Models.Bookkmark>

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);

}

<div style="height:100px"></div>

<h2>Data Analysis</h2>

<script type="text/javascript">

    $(function () {
        $(".jqueryui-marker-datepicker").datepicker({
            dateformat: "mm-dd-yyyy",
            changeYear: true,
            showOn: "button"
        }).css("display", "inline-block")
        .next("button").button({
            icons: { primary: "ui-icon-calender" },
            lebel: "Select date",
            text: false
        });
    });
</script>



<div style="height:20px"></div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Search</a>
                </div>
                <div class="collapse navbar-collapse">
                    @using (Html.BeginForm("reports", "bookkmark", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <table>
                            <tr>
                                <td>
                                    <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="URL like" />
                                </td>
                                <td>
                                   @*@Html.TextBox("txtCreatedDate", null, new { htmlAttributes = new { @class = "form-control", placeholder = "Created Date", @readonly = "true", type="date" } })*@  
                                    @Html.TextBox("txtCreatedDate", "", new {  @class = "form-control jqueryui - marker - datepicker" })</td>
                                <td>
                                    <button type = "submit" value = "Search" class="mysubmitsmall">Search</button>
                                </td>
                            </tr>
                        </table>

                    }
                </div>
            </div>
        </nav>
        <div>
            @grid.Table(
                tableStyle: "table table-responsive table-bordered",
                columns: grid.Columns(
                    grid.Column(columnName: "Name", header: "Name"),
                    grid.Column(columnName: "URL", header: "URL")
                )
            )

            <div class="row">
                <div class="col-sm-6">
                    @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                </div>
            </div>

            @Html.Hidden("dir", grid.SortDirection)
            @Html.Hidden("col", grid.SortColumn)

        </div>

    @*<script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script>
        $(function () {
            try {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href*=" + col + "]");
                if (dir == "Ascending") {
                    header.text(header.text())
                }
                if (dir == "Descending") {
                    header.text(header.text());
                }

            } catch (e) {

            }
        })
    </script>





 