
@{
    ViewBag.Title = "Domains";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 5);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<script>
    function ValidatePage() {
        //Domain
        if (document.getElementById("txtDomain") != null) {
            var txtDomain = document.getElementById("txtDomain").value;
            var re = new RegExp(/^((?:(?:(?:\w[\.\-\+]?)*)\w)+)((?:(?:(?:\w[\.\-\+]?){0,62})\w)+)\.(\w{2,6})$/);
            if (!txtDomain.match(re)) {
                document.getElementById("divAck").innerText = "Please enter a valid domain name";
                return false;
            }
        }
        return true;
    }

</script>

<div class="container">
    <div class="span12">
        <div class="section_heading" style="padding-top:20px">
            <h3><span>Domains</span> </h3>
        </div>

        <div class="form-group text-left">
            <div id="divAck" class="error_info"></div>
        </div>
        <div class="form-group text-left">
            <div class="error_info">@ViewBag.Ack</div>
        </div>


        @using (Html.BeginForm("Domains", "Bookmark", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
        {
            <nav class="navbar navbar-default">
                <div class="form-inline">
                    <div class="row">
                        @Html.TextBox("txtDomain", "", new { @class = "form-control", style = "width:300px", placeholder = "Domain name, Ex test.com", required = "required" })
                        <div class="form_search">
                            <button type="submit" name="AddDomain" id="AddDomain" value="Add another domain" onclick="return ValidatePage()" class="btn btn-block" style="width:120px">Add domain</button>
                        </div>
                    </div>
                </div>

            </nav>
        }
    </div>
        <div style="height:20px"></div>


        <div style="font-size:14px">
            <div style="width:99%;width:100%;overflow-x: scroll">
                @grid.Table(
                  tableStyle: "table table-responsive table-bordered table-striped",
                  columns: grid.Columns(
                      grid.Column(columnName: "Name", header: "Domain"),
                      grid.Column(columnName: "Script", header: "Script")
                  )
            )
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                </div>
            </div>

            @Html.Hidden("dir", grid.SortDirection)
            @Html.Hidden("col", grid.SortColumn)

        </div>
        <div style="height:40px"></div>
    </div>

