
@{
    ViewBag.Title = "View Script";
    Layout = "~/Views/Shared/Manage_Bookmark.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        document.getElementById("imgBookmark").style.height = @Html.Raw(Json.Encode(ViewData["txtHeight"])) + "px";
        document.getElementById("imgBookmark").style.width = @Html.Raw(Json.Encode(ViewData["txtWidth"])) + "px";
    };
</script>



<div class="container">
    <div class="span12">
        <div class="page_title_area">
            <div class="section_heading">
                <h3><span>Generate Script</span> </h3>
            </div>
        </div>

        Select the attributes of the Bookmark image to be displayed on your web page


        @using (Html.BeginForm("ScriptCode", "Bookmark"))
        {

            <table style="width:100%">
                <tr>
                    <td>
                        <div>
                            <table style="height: 100px; width:80%;border:solid;border-radius:10px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED;"
                                   cellpadding="5" cellspacing="5">
                                <tr>
                                    <td align="center" colspan="2">
                                        <span style="width: 100%; font-weight: bold; font-family: Calibri; color: Red">@ViewBag.Ack</span>
                                    </td>
                                </tr>

                                @if (ViewData["domains"] == null)
                        {
                                        <tr>
                                            <td>
                                                @Html.TextBox("txtDomain", "", new { @class = "form-control", style = "width:200px", placeholder = "Domain name" })
                                            </td>
                                            <td style="text-align:left;padding-right:740px">
                                                <input id="AddDomain" name="AddDomain" value="Add another domain" type="submit" class="mysubmitsmall" />
                                            </td>
                                        </tr>
                        }
                        else
                        {
                                        <tr>
                                            <td colspan="2">
                                                @Html.DropDownList("ddDomains", new SelectList((System.Collections.IEnumerable)ViewData["domains"], "ID", "Name"), "---Select Domain---", new { style = "height:30px;border:1px solid lightgrey;border-radius:5px;font-size:16px;width:18%;" })
                                            </td>
                                        </tr>
                        }

                                <tr>
                                    <td colspan="2">
                                        @Html.TextBox("txtHeight", "", new { style = "border:groove;width:5%;border-width:1px;border-color:grey;border-radius:5px;height:40px", placeholder = "Height" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @Html.TextBox("txtWidth", "", new { style = "border:groove;width:5%;border-width:1px;border-color:grey;border-radius:5px;height:40px", placeholder = "Width" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @Html.CheckBox("chkShowCount", bool.Parse(ViewData["chkShowCount"].ToString()), new { style = "border:groove;width:20px;border-width:1px;border-color:grey;border-radius:5px;height:20px" }) Show Count
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <input type="submit" value="Preview" id="btnSubmit" class="mysubmit" /><br />
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                @*<tr><td>&nbsp;</td></tr>*@
                <tr>
                    <td>
                        <img id="imgBookmark" src="../../Bookmark/Images/Bookmark.jpg" title="Bookmark this page" /><br />
                        @if (ViewData["chkShowCount"] != null)
                            {
                                <span style="font-size:16px">@ViewData["BookmarkCount"]</span>
                            }
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />

                        Copy and paste the Script Code generated below in your application where you want the Bookmark icon to be displayed
                        <br />
                        <div style="height:80px;border-radius:5px;font-weight:bold;border:solid 1px grey;width:80%;text-align:center;padding-top:1%">
                            <span style="font-size:16px;"> @ViewData["ScriptCode"]</span><br /><br />
                        </div>
                    </td>
                </tr>
                @*<tr>
                        <td>
                            <br />
                            <input type="submit" value="Save Script" id="btnConfirm" class="mysubmit" />
                        </td>
                    </tr>*@
            </table>

        }
    </div>
</div>

