
@{
    ViewBag.Title = "View Script";
    Layout = "~/Views/Shared/Manage_Bookmark.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        document.getElementById("imgBookmark").style.height = @Html.Raw(Json.Encode(ViewData["txtHeight"])) + "px";
        document.getElementById("imgBookmark").style.width = @Html.Raw(Json.Encode(ViewData["txtWidth"])) + "px";
    };
</script>

<style>
    .mycontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.mycontainer input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.mycontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.mycontainer input:checked ~ .checkmark {
  background-color: #fcd767;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.mycontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.mycontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>

<div class="container">
    <div class="span12">
        <div class="section_heading" style="padding-top:20px">
            <h3><span>Script</span> </h3>
        </div>



        <div class="form_search">
            @using (Html.BeginForm("ScriptCode", "Bookmark"))
            {
                <div class="row justify-content-center">

                    <div class="col-12 col-lg-10 ">
                        Select the attributes of the Bookmark image to be displayed on your web page
                        <div style="height:20px">&nbsp;</div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Domain</label>
                            <div class="col-10">
                            @if (ViewData["domains"] == null)
                            {
                                @Html.TextBox("txtDomain", "", new { @class = "form-control", placeholder = "Domain name", required = "required" })
                            }
                            else
                            {
                                @Html.DropDownList("ddDomains", new SelectList((System.Collections.IEnumerable)ViewData["domains"], "ID", "Name"), "---Select Domain---", new { @class = "form-control", required = "required" })
                            }
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Height</label>
                            <div class="col-10">
                                @Html.TextBox("txtHeight", "", new { @class = "form-control", placeholder = "Height. Ex 50", required="required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Width</label>
                            <div class="col-10">
                                @Html.TextBox("txtWidth", "", new { @class = "form-control", placeholder = "Width, Ex 40", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2">Show count</label>
                            <div class="col-sm-10">

                                <label class="mycontainer">
                                    @Html.CheckBox("chkShowCount", bool.Parse(ViewData["chkShowCount"].ToString()), new { @class = "form-control" })
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12 text-center">
                            <button type="submit" id="btnPreview" name="btnPreview" class="btn btn-block">Preview</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12 text-center">
                            <img id="imgBookmark" src="../../Bookmark/Images/logo.png" title="Bookmark this page" /><br />
                            @if (ViewData["chkShowCount"] != null)
                            {
                                <span style="font-size:12px">@ViewData["BookmarkCount"]</span>
                            }
                        </div>
                    </div>
                    <div style="height:20px">&nbsp;</div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12 text-center">
                            Copy and paste the Script Code generated below in your application where you want the Bookmark icon to be displayed
                            <br />
                            <div style="height:60%;border-radius:5px;font-weight:500;font-size:18px;border:solid 1px #808080;width:100%;text-align:center;padding-top:1%;color:green">
                                <span style="font-size:16px;"> @ViewData["ScriptCode"]</span><br /><br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12 text-center">
                            <button type="submit"  id="btnSave" name="btnSave" class="btn btn-block">Save Script</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="error_info">@ViewBag.Ack</div>
                    </div>
            }
                </div>
    </div>
    <div style="height:40px">&nbsp;</div>
</div>

