@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
        window.onload = function () {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "https://api.ipify.org?format=jsonp&callback=DisplayIP";
            document.getElementsByTagName("head")[0].appendChild(script);
            var curURL = window.location.href;
            var hidden = document.createElement("hidden");
            hidden.id = "ipAddr";
            document.body.appendChild(hidden);
            document.getElementById("imgBookmark").style.height = @Html.Raw(Json.Encode(ViewData["ht"]));
            document.getElementById("imgBookmark").style.width = @Html.Raw(Json.Encode(ViewData["wd"]));
            document.getElementById("imgBookmark").src = @Html.Raw(Json.Encode(ViewData["bookmarkImgSrc"]));
            document.getElementById('divInnerBmrq').height = (parseInt(@Html.Raw(Json.Encode(ViewData["ht"]))) + 16).toString() + "px";
            document.getElementById('divInnerBmrq').width = (parseInt(@Html.Raw(Json.Encode(ViewData["wd"]))) + 9).toString() + "px";
        };
        function DisplayIP(response) {
            document.getElementById("ipAddr").value = response.ip.toString();
        }
        function AddBookmark()
        {
            var BookmarkModel = {
                'Bookmark': document.referrer,
                'title':@Html.Raw(Json.Encode(ViewData["title"])),
                'ipAddr': document.getElementById("ipAddr").value,
                'bookmarkImgSrc' : document.getElementById("imgBookmark").src
            };
            $.ajax({
                url: 'http://booqmarqs.com/bookmark/managebm',
                type: 'POST',
                dataType: "text",
                data: BookmarkModel,
                success: function (data) {

                    if(data == null || data == ""){
                        var left = (screen.width)-(0.30*screen.width);
                        var top = (screen.height)-(0.80*screen.height);
                        var height = screen.height*0.60;
                        var width = screen.height*0.48;
                        window.open("http://booqmarqs.com/account/login", "_blank", "toolbar=yes,scrollbars=no,resizable=yes,top="+top+",left="+left+",width="+width+",height="+height+"");
                    }
                    else
                    {
                        var res = data.split(",");
                        document.getElementById("imgBookmark").src = res[0];
                        if(res[1]=="Edit")
                        {
                            var left = (screen.width) - (0.50 * screen.width);
                            var top = (screen.height) - (0.60 * screen.height);
                            var height = 470;
                            var width = 500;
                            window.open("http://booqmarqs.com/bookmark/manage?id=" + res[2] + "&action=" + res[1], "_blank", "toolbar=yes,scrollbars=no,resizable=yes,top=" + top + ",left=" + left + ",width=" + width + ",height=" + height + "");
                        }
                    }
                },
                error: function(exception) {
                }
            });
        }
</script>

@if(ViewData["bookmarkImgSrc"]!=null)
{ 
    <div style="text-align:center;width:100%" id="divInnerBmrq">
        <a onclick="AddBookmark()" href="javascript:void(0);">
            <img id="imgBookmark" title="Booqmarq this page" />
        </a>
        <span style="font-size:10px;">@ViewData["BookmarkCount"]</span>
    </div>
}
