
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="height:100px"></div>
<h2>Change Password</h2><br />


<div>
    @using (Html.BeginForm("ChangePassword", "Account"))
    {
        <div style="text-align:center;height: 100%; width: 100%; font-size: 16px;border:solid;border-radius:20px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED">
            <table style="width: 30%; margin: 0 auto; text-align: left" cellpadding="4" cellspacing="4">
                <tr>
                    <td style="font-weight: bold; color: red">
                        @ViewBag.Ack<br />
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        @Html.Password("txtPassword", "", new { placeholder = "Password", @class = "myText" })

                    </td>
                </tr>
                <tr>
                    <td align="left">
                        @Html.Password("txtNewPassword", "", new { placeholder = "New Password", @class = "myText" })

                    </td>
                </tr>
                <tr>
                    <td align="left">
                        @Html.Password("txtConfirmPassword", "", new { placeholder = "Confirm Password", @class = "myText" })

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" onclick="return ValidatePasswords()" class="mysubmitsmall" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="Cancel" name="Cancel" class="mysubmitsmall" />
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
            </table>
        </div>
    }

    @Html.Hidden("HFOldPassword", (Object)ViewBag.OldPassword)
    @Html.Hidden("hfUserEMail", (Object)ViewBag.UserEMail)
