@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}
@model Bookmark.Users


<section class="pt150 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="page_title_area">
                    <div class="section_heading">
                        <h3><span>Edit My Info</span> </h3>

                    </div>
                </div>
                @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="form_search">
                    <div class="form_area">
                        <div class="form-group row">
                            <label class="col-2 col-form-label">First Name</label>
                            <div class="col-10">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Last Name</label>
                            <div class="col-10">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Email Id</label>
                            <div class="col-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "EMail", type="email", required = "required", @readonly="readonly" })
                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <div class="col-xs-6">
                                <button name="EditSubmit" id="EditSubmit" class="btn btn-block">Submit</button>
                            </div>
                            <div class="col-xs-6">
                                <button id="Cancel" name="Cancel"  class="btn btn-block" formnovalidate>Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
} @Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)
            </div>
        </div>
    </div>
</section>



















@*<div style="height:100px"></div>
<h2>Edit Profile</h2><br />

@using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="text-align:center;height: 100%; width: 100%; font-size: 16px;border:solid;border-radius:20px;border-width:0px;
          border-color:lightgrey;background-color:#EFF0ED">
        <table style="width: 30%; margin: 0 auto; text-align: left" cellpadding="4" cellspacing="4">
            <tr>
                <td style="font-weight: bold; color: red;" colspan="2">
                    <div id="divAck" style="width: 100%; font-weight: bold;  color: Red">@ViewBag.Ack</div>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    First Name:
                </td>
                <td align="left">
                    <b>@Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "myText" })</b>
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td align="left">
                    <b>@Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "myText" })</b>
                </td>
            </tr>
            <tr>
                <td>
                    EMail:
                </td>
                <td align="left">
                    <b>@Html.TextBoxFor(m => m.Email, new { placeholder = "EMail", @class = "myText", style="width:200px" })</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:15%">
                    <br />
                    <input type="submit" id="btnEditUser" name="EditSubmit" value="Submit" onclick="return ValidateEditUser()" class="mysubmit" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" id="btnCancel" name="Cancel" value="Cancel" class="mysubmit" />
                    <br />
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
        </table>
        @Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)
    </div>
}*@
