@helper GetTreeView(List<Bookkmark.Models.Bookkmark> siteMenu, long parentID)
{
foreach (var i in siteMenu.Where(a => a.ParentID.Equals(parentID)))
{
        <li class="task" data-id="@i.BookkmarkID">
            @{ var submenu = siteMenu.Where(a => a.ParentID.Equals(i.BookkmarkID)).Count();
            }
            @if (submenu > 0)
            {
                <span class="collapse1 collapsible">&nbsp;</span>
            }
            else
            {
                <span style="padding-left:25px"> &nbsp;</span>
            }
            <span>

                @if (! string.IsNullOrEmpty(i.URL))
                {
                    var strSrc = "https://s2.googleusercontent.com/s2/favicons?domain_url=" + @i.URL;
                        <a href="#" onclick="window.open('@i.URL');" ><img src="@strSrc" style="height:15px;width:15px"/> @i.Name </a>
                }
                else
                {
                    <a>@i.Name</a>
                }
        </span>
            @if (submenu > 0)
            {
                <ul>
                    @Treeview.GetTreeView(siteMenu, i.BookkmarkID)
                </ul>
            }
        </li>
     }
}


